*{
    margin:0; 
    padding:0; 
    box-sizing:border-box;
}

body{
    /* background: #333 url(./images/abstract-business-code-270348.jpg) no-repeat; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    bottom: 0;
    /* overflow-x: hidden; */
    /* margin-right: -10px; */
}
/* Navbar styling */
.navbar{
    width: 100%;
    /* height: 100px; */
    height: auto;
    background-color: #053e6d;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    order:0;
}

.navbar .logo{
    padding-top: 10px;
    margin-left: 5%;
    height: 70px;
}

.navbar .logo img{
    height: inherit;
}

.navbar .nav_toggle{
    display: none;
    margin-left: 20px;
    
}

.navbar .nav_toggle a{
    color: white;
    line-height: 100px;
    font-size: 1.5em;
}

.navbar .nav{
    order: 1;
}

.navbar .nav .nav-item{
    padding-top: 20px;
}

.navbar .nav .nav-item li{
    float: left;
    width: 150px;
    /* padding: 0 5px; */
    list-style: none;
    text-align: center;
}

.navbar .nav .nav-item li a{
    text-decoration: none;
    line-height: 60px;
    height: 70px;
    font-size: 1em;
    color: lime;
    display: block;
    border-radius: 30px 0px 30px 0px;
}

.navbar .nav .nav-item li a:hover{
    background: lime;
    color: #772525;
    font-size: 1.1em;
    font-weight: bold;
    /* box-shadow: 3px 3px #888; */
    border: 5px groove #ccc;
    transition: 0.5s;
}

.navbar .name{
    color: #fff;
    margin-top: 20px;
    text-align: center;
    margin-right: 2%; 
    order: 2;
}

.navbar .name h3{
    font-size: 1.7em;
}

.navbar .name p{
    font-size: 1.2em;
    /* margin-left: 5px; */
}
/* Navbar styling end */


/* intro part */

.container{
    background-image: url("https://i.pinimg.com/originals/5c/f2/66/5cf2660af5f4214def7166dc7a7c8062.jpg");
    width: 100%;
    height: auto;
    /* border: 4px double black; */
    /* background: #ddd; */
    padding: 5%;
    display: flex;
    order:1;
}

.container .pic{
    padding: 4em;
    /* margin: 40px; */
}

.container .pic img{

    height: 270px;
    border-radius: 10px;
    
}

.container .intro{
    width: 90%;
    /* padding-right: 20px; */
    text-align: center;
    padding-top: 30px;
    font-size: 1.4em;
    /* font-weight: lighter; */
}

.container .intro p{
    font-family: 'Goudy Bookletter 1911', serif;
    color: #e5f92a;
}

.container .intro p:nth-last-child(2){
    margin: 20px;
}

.container .intro span{
    font-weight: bold;
    font-size: 1em;
}

.container2{
    width: 100%;
    height:auto;
    padding: 2%;
    /* padding: 10px 0px 10px 0px; */
    background: #faaa10;
    order: 2;
}

.heading{
    color: #fff;
    padding: 5px;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-size: 2.5em;
    font-style: italic;
}

.container2 .wrapper{
    width: 100%;
    height: auto;
    display: flex;
}

.container2 .wrapper .s{
    margin: 15px;
}

.container2 .wrapper .s h3{
    color: #dff;
    font-size: 1.5em;
    text-align: center;
    margin: 5px;
}

.container2 .wrapper .s img{
    border: 5px inset #eee;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 50px 0 50px 0px;
    display: block;
}

.container2 .wrapper .s img:hover{
    margin: 5px;
    transform: scale(1.02,1.02);
    /* opacity: 0.8; */
    cursor: pointer;
}

.container2 .wrapper .s1{
    order: 1;
}

.container2 .wrapper .s2{
    order: 2;
}
.container2 .wrapper .s3{
    order: 3;
}

.foo{
    width: 100%;
    height: auto;
    background: #333;
    bottom: 0;
    order: 3;
    text-align: center;
    color: #fff;
    padding: 20px 0;
}

.foo .icon{
    width: 50px;
    height: 50px;
}

.foo .git{
    background: #fff;
    border-radius: 100%;
}

.foo .linkedin{
    border-radius: 100%;
}

.disp{
    display: block;
}

.none{
    display: none;
}

@media screen and (max-width: 1024px){
    .navbar .nav_toggle{
        display: block;
    }
}

@media screen and (min-width: 500px) and (max-width: 1024px){
    .navbar{
        height: auto;
        display: block;
    }

    .nav_toggle{
        margin: 0;
        padding: 0;
        width: 0px;
        height: 0;
    }


    .navbar .logo{
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .navbar .nav{
        display: block;
        width: 100%;
    }

    .navbar .nav .nav-item{
        display: none;
    }

    .navbar .nav .nav-item li{
        height: 40px;
        width: 100%;
        /* padding: 0 5px; */
        list-style: none;
        text-align: center;
    }

    .navbar .nav .nav-item li a{
        text-decoration: none;
        line-height: 40px;
        color: #ddd;
        display: block;
    }

    .navbar .nav .nav-item li a:hover{
        background: white;
        color: #222;
        font-weight: bold;
        text-decoration: none;
        border-radius: 0;
        transition: 0.3s;
    }

    .navbar .name{
        margin-top: -10px;
        width: 100%;
        text-align: center;
    }

    .container{
        display: block;
        height: auto;
        background-image: url("https://juegosrev.com/wp-content/uploads/2017/05/B1-WALL_12745.jpg?w=309&h=174");
        background-repeat: no-repeat;
        /* padding: 20px 0; */
    }

    .navbar .name{
        width: 100%;
        text-align: center;
        margin-top: 5px;
        order: 0;
    }

    .container{
        display: block;
        height: auto;
        background-image: url("https://juegosrev.com/wp-content/uploads/2017/05/B1-WALL_12745.jpg?w=309&h=174");
        background-repeat: no-repeat;
        padding: 20px 0;
    }

    .container .pic{
        width: 100%;
        padding: 0;
    }

    .container .pic img{
        /* margin-top: 15px; */
        width: 300px;
        height: 240px;
        /* margin-left: 27%; */
        border: 5px groove #fdf;
        /* box-shadow: 10px 8px 10px #aaa; */
    }

    .container .intro{
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.2em;
        padding: 2%;
    }

    .container2{
        padding: 3%;
        height: auto;
    }

    .container2 .wrapper{
        display: block;
    }

    .container2 .wrapper .s{
        text-align: center;
        width: 70%;
        margin-left: 15%;
        /* height: 50px;
        display: block; */
    }
}

@media screen and (max-width: 499px){
    .navbar{
        height: auto;
        text-align: center;
        display: block; 
    }

    .nav_toggle{
        margin: 0;
        padding: 0;
        width: 0px;
        height: 0;
    }

    .navbar .logo{
        top: 0;
        margin: 0px;
        width: 100%;
        text-align: center;
    }
    .navbar .nav .nav-item{
        display: none;
    }

    .navbar .nav .nav-item li{
        height: 40px;
        width: 100%;
        /* padding: 0 5px; */
        list-style: none;
        text-align: center;
    }

    .navbar .nav .nav-item li a{
        text-decoration: none;
        line-height: 40px;
        color: #ddd;
        display: block;
    }
    
    .navbar .nav .nav-item li a:hover{
        background: white;
        color: #222;
        font-weight: bold;
        text-decoration: none;
        border-radius: 0;
        transition: 0.3s;
    }

    .navbar .name{
        margin-top: -10px;
        width: 100%;
        text-align: center;
        font-size: 0.7em;
    }

    .container{
        display: block;
        height: auto;
        background-image: url("https://juegosrev.com/wp-content/uploads/2017/05/B1-WALL_12745.jpg?w=309&h=174");
        background-repeat: no-repeat;
        /* padding: 20px 0; */
    }

    .container .pic{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .container .pic img{
        margin-top: 15px; 
        width: 170px;
        height: 170px;
        /* margin-left: 25%; */
        border: 5px groove #fdf;
        /* box-shadow: 15px 8px 10px #aaa; */
    }

    .heading{
        font-size: 2em;
    }

    .container .intro{
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.1em;
        padding: 2%;
    }

    .container2{
        padding: 3%;
        height: auto;
    }

    .container2 .wrapper{
        display: block;
    }

    .container2 .wrapper .s{
        text-align: center;
        width: 70%;
        margin-left: 15%;
        /* height: 50px;
        display: block; */
    }
}